In [4]:
def myfunc(a,b):
    return sum ((a,b))*0.05

In [3]:
myfunc(4,4)

4.0

In [10]:
#args and  Kwargs
def myfunc(*args):
    print(args) #pritnts a tuple
    for items in args:
        print(items)

In [11]:
myfunc(23,45,45,66,78,98)

(23, 45, 45, 66, 78, 98)
23
45
45
66
78
98

In [40]:
def myFunc(**kwargs):
    print(kwargs)
    print(kwargs.keys())
    print(kwargs.values())

In [41]:
myFunc(fruit="tomatoe",drinks="mangoe juice")

{'fruit': 'tomatoe', 'drinks': 'mangoe juice'}
dict_keys(['fruit', 'drinks'])
dict_values(['tomatoe', 'mangoe juice'])

In [124]:
def myFunc(name):
    for i in name:
        name=name[::2].upper()
        print(name)

In [125]:
myFunc("james")

JMS
JS
J
J
J

In [150]:
x="name"

In [151]:
x=x.split()
print(x)

['name']

In [158]:
"""a code to alternate between lower and upper case in a string"""
def myFunc(name):
    s=""
    for i in range(len(name)):
        if i%2==0:
            s+=name[i].lower()
        else:
            s+=name[i].upper()
    print(s)

In [159]:
myFunc("isAYA")

iSaYa

In [25]:
def UpperLower(name):
    s=""
    for i,j in enumerate(name):
        if i %2==0:
            s+=j.upper()
        else:
            s +=j.lower()
    print(s)

In [26]:
UpperLower("kimani")

KiMaNi