In [2]:
#Methods and Functions

"""methods are function built into objects"""
#methods you get a list  by calling the object then dot u get a list

'methods are functoion built into objects'

In [3]:
mylist=[1.2,3,4,]

In [25]:
mylist.reverse() #.then tab to display all the methods associated select the method then shift tab
mylist

[2, 1.2, 2, 3, 4]

In [45]:
#FUNCTION in Python
'''syntax def-keyword correct identation and proper structure'''
def name_of_function(name="default"): 
    """ this a docstring 
    snake casing(use under_score) in functions naming and class call use camel casing
    """
    print("hello " + name)

In [49]:
name_of_function("james")

hello james

In [52]:
#returnn
def print_result(a,b):
    print(a+b)

def return_result(a,b):
    return a + b

In [53]:
print_result(1,4)
return_result(1,4)

5

5

In [65]:
result=return_result(4,5)
result

9

In [62]:
type(result)

int

In [59]:
result1=print_result(4,5) # you can't save a result of a function with print

9

In [61]:
type(result1)

NoneType

In [66]:
def even_check(number):
    return number % 2==0

In [67]:
even_check(2)

True

In [68]:
even_check(13)

False

In [77]:
def check_num_list(num_list):
    for num in num_list:
        if num %2 ==0:
            return True
        else:
            return False #this is wrong identatio since once the 1st number is not even the loop breaks and doesnt check the rest

In [79]:
check_num_list([1,2,3]) # but there is an even number 2

False

In [81]:
def check_num_list1(num_list):
    for num in num_list:
        if num %2 ==0:
            return True
        else:
            pass
            
    return False

In [82]:
check_num_list1([1,2,3])

True

In [83]:
def check_num_list(num_list):
    #return all the even number in a list
    even_numbers=[]
    for num in num_list:
        if num %2 ==0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [84]:
check_num_list([2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [86]:
check_num_list([1,3,5,7,9])

[]

In [88]:
#tuple unpacking with functions
mylist=[("apple",300),('orange',200),('banan',100)]
for item in mylist:
    print(item)

('apple', 300)
('orange', 200)
('banan', 100)

In [106]:
#tuple unpacking
for comod,price in mylist:
    print(comod +'\n ')
    
    print(str(price) + "\n")

apple

300

orange

200

banan

100

In [117]:
work_hours=[('abby',100),("john",250),("billy",110),('casie',200),]

In [108]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=''

    for employee,hours in work_hours:
        if hours >current_max:
            current_max=hours
            employee_of_month= employee
        else:
            pass
    #retun 
    return (employee_of_month,current_max)

In [118]:
result=employee_check(work_hours)

In [119]:
result

('john', 250)

In [120]:
name,hours=employee_check(work_hours) #unpacking with function calls

In [121]:
name

'john'

In [122]:
hours

250

In [123]:
#interaction between Functions   
random

NameError: name 'random' is not defined

In [124]:
from random import shuffle

In [125]:
mylist=[1,2,3,4,5,6,7,8,9]

In [136]:
shuffle(mylist)
mylist

[3, 5, 4, 7, 2, 1, 6, 9, 8]