In [1]:
#For loops
my_iterable=[1,2,3,4]
for item in my_iterable: #item is a place holder for the iten in the list
    print(item)

1
2
3
4

In [4]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    #check for even 
    if num %2==0:
        print(f'even number: {num}')
    else:
        print('odd number')

odd number
even number: 2
odd number
even number: 4
odd number
even number: 6
odd number
even number: 8
odd number
even number: 10

In [8]:
list_sum= 0
for num in mylist:
    list_sum +=num
print(list_sum)

55

In [10]:
mystring="i am james"
for letter in mystring:
    print(letter)

i

a
m

j
a
m
e
s

In [14]:
myList=[(1,2),(3,4),(5,6),(8,9,10)]
for a,b in myList:
    print(b)
    print(a) #will not print 10 throw an erro

2
1
4
3
6
5

ValueError: too many values to unpack (expected 2)

In [20]:
d={'k1':1, "k2":2, "k3":3}

for value in d.values():
    print(value)

1
2
3